<p id="notice"><%= notice %></p>

<p>
  <h2><%= @customer.name %> <%= link_to 'âœ', edit_customer_path(@customer) %> </h2>
</p>

<%= link_to  @customer.url, @customer.url %>

<p>
  <%= simple_format(@customer.note) %>
</p>


<p>
<strong>States</strong> <br>
<% @customer.states.each do |state| %>
  <%= link_to state.name, state %> : <%= state.date %> <br>
<% end %>
</p>

<p>
<strong>Events</strong> <br>
<% @customer.events.each do |event| %>
  <%= link_to event.name, event %> : <%= event.date %> <br>
<% end %>
</p>

<hr>

<%= link_to 'New State', new_state_path %> | <%= link_to 'New Events', new_event_path %>
