<p id="notice"><%= notice %></p>

<h2><%= @customer.name %> <%= link_to "âœ", edit_customer_path(@customer) %></h2> 

<%= fa_icon "link" %> <%= link_to  @customer.url, @customer.url %>
<%= simple_format(@customer.note) %>

<p>
  <strong>States</strong> <%= link_fa_to "plus", "", new_state_path %> <br>
    <% @customer.states.each do |state| %>
      <li><%= link_to state.name, state %> : <%= state.date %> </li>
    <% end %>
</p>

<p>
  <strong>Events</strong> <%= link_fa_to "plus", "", new_event_path %> <br>
  <% @customer.events.each do |event| %>
    <li><%= link_to event.name, event %> : <%= event.date %> </li>
  <% end %>
</p>
