<!DOCTYPE html>
<html>
<head>
  <title>Sales</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Cutomers', customers_path %>
<%= link_to 'Events', events_path %>
<%= link_to 'States', states_path %>

<hr>

<%= yield %>

</body>
</html>
